.header {
	width:100%;
	text-align:center;
	background-color: white;
}

.header-font {
	font-family: "Painter";		
	font-size: 36px;
	color: #3e3636;
}

.header-first-border {
	width:100%;
	height:4px;
	background-color:#FFDED7;
}

.header-second-border {
	width:100%;
	height:5px;
	background-color:#3e3636;
}